w = 14rem

.card-wrapper
  perspective 1000px
  width: w
  position relative
  .card-body
    display block
    height 25em
    border-radius 1em
    box-shadow 0px 4px 10px rgba(0, 0, 0, 0.25)
    background white
    transition 500ms
    display block
    .hover-zone
      position absolute
      width 25%
      height 100%
      transform-style: preserve-3d
      opacity 0
      // opacity 0.5
      z-index 11
      tright(12rem)
      background teal
      filter drop-shadow(none)
  .cardBackface
    @extend .card-wrapper
    // background center/90% auto no-repeat var(--bg-comp), white
    background center/contain no-repeat var(--bg-comp), black
    width: 450%
    padding-left 20em
    margin-bottom 300%
    height: 40rem
    border none
    filter drop-shadow(0 1.3rem 1.7rem rgba(dimgray, 0.95))
    transform: rotate3D(0, 1, 0, 360deg)
    &:hover
      transform: rotate3D(0, 1, 0, 360deg)
      filter drop-shadow(0 1.3rem 1.7rem rgba(dimgray, 0.95))
    .hover-zone
      transition all 0s
      background green
      width 100%
      height 100%
      opacity 0
      // opacity 0.6
      tleft(31.8%)
      // margin-left -30em
.cardHovered
  cursor pointer
  transform: rotate3D(0, -1, 0, 15deg)
  transition 1500ms
  filter drop-shadow(0 1.3rem 1.7rem rgba(dimgray, 0.95))
  &:active
    background black
    transform: rotate3D(0, -1, 0, 40deg)
